import csv
from io import StringIO, BytesIO
from flask import Response
from reportlab.platypus import SimpleDocTemplate, Paragraph
from reportlab.lib.styles import getSampleStyleSheet
from functools import wraps
from flask import session, redirect, url_for, flash, render_template
from flask import Flask, render_template, request, redirect, url_for, flash, session, jsonify
from werkzeug.security import generate_password_hash, check_password_hash
from flask_mysqldb import MySQL
import MySQLdb
import config
import json
from flask import request, jsonify